*{
    margin:0 auto;
    padding:0;
     font-family: 'Segoe UI';
}
body{
    background-color: rgb(196, 196, 216);
    
}
main{
    color:rgb(0, 0, 0);
    margin:5vh auto;
    padding:10px;
    background-color: rgb(214, 214, 222);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border-radius: 20px;
    box-shadow: 10px 10px 30px 10px rgba(185, 181, 181, 0.515);
    max-width: 50vw;
    max height: 80vh;
}
main ul{
    text-decoration: none;
    list-style: none;
}
.Logo{
 width:20vw;
}

h6{
    position: absolute;
    top:0;
    right:5vw
}