*{
    margin:0 auto;
    padding:0 ;
    font-family: 'Segoe UI';
    
    
}
body{
    margin:0 auto;
    padding:0;
    background-color: rgba(204, 198, 185, 0.658);
}
.back{
    margin:1vh;
    top:0;
    left:0;
    position: absolute;
    height: 5vh;
    width: 5vw;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(169, 141, 141);
    border-radius: 10px;
    box-shadow: 10px 30px 10px  box-shadow: 10px 10px 30px rgb(158, 157, 157);
}
.help{
    max-width: 10vw;
    transform: rotate(-20deg);
    position: absolute;
top: 3vh ;
left: 10vw;

   
}
#helpmsg{
    position: absolute;
    top: 2vh;
    left: 17vw;
  font-size: clamp(0.6rem, 1vw, 2rem);
  border-radius: 5px ;
  background-color: rgb(248, 255, 197);
  box-shadow: 10px 10px 30px rgb(158, 157, 157);
  font-weight: 300;
}
h1{
    font-size: clamp(1.2rem, 1vw, 4rem);
}
.banner{
    margin-top: 10px;
    border-radius: 2px ;
    height:30vh;
    min-height: 10vh;
    width: 69.9vw;
  background-repeat: no-repeat;   
  background-size: cover;       
  background-position: center; 
}
.forms{
    margin: 0 auto ;
    padding:5% 10%;

    background-color: rgb(255, 255, 255);
    min-height: 5vh;
    max-height: 30vh;
    width: clamp(30vw, 60%, 50vw);
    box-shadow: 10px 10px 30px rgb(158, 157, 157);
    border-radius: 2px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.multi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2vh;
    padding:0;
    min-height: 30vh;
    max-height: 100vh;
    width: clamp(30vw, 60%, 50vw);
}
.multi label{
    margin:auto;
    color:white;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding:1vh;
    max-height:30vh;
    max-width: 30vw;
    background-color: rgb(136, 128, 123);
    border-radius: 8px;
    
}

.multi input[type="radio"] {
  
 accent-color: rgb(140, 164, 140);
 height:3vh;
 width:3vw;
 
}
.submit{
  margin:0 auto;
  padding:0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  bottom:0;
  height:10vh;
  width:100%;
  background-color: white;
    border-radius: 4px;
     box-shadow: 10px 10px 30px rgb(158, 157, 157);
}
.submit input[type= "submit"]{
  margin:0 auto;
  padding:0;
  border-radius: 4px;
  color:white;
  background-color: rgb(64, 110, 64);
  height:3vh;
  width:30vw;
  border-style:none;
  box-shadow: 10px 10px 30px rgb(158, 157, 157);
}
@media (max-width: 768px) { /* até 768px de largura (tablet/celular) */
  .multi {
    flex-direction: column; /* empilha em coluna */
    align-items: center;   /* faz os labels ocuparem largura toda */
  }

  .multi label {
    margin: 2vh;           
    max-width: 50vw;       /* não limita a largura */
    width: 20vw;           /* ocupa toda a linha */
    justify-content: flex-start; /* organiza conteúdo à esquerda */
  }
}
a{
  color:white;
  text-decoration: none;
  font-size: large;

}