body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  font-family: 'Segoe UI';
}

/* container centralizado */
.container {
  display: flex;
  justify-content: center; /* centraliza no meio da tela */
  padding: 2rem;
}

/* tira estilo padrão da lista */
ul {
  list-style: none;
  display: flex;            /* coloca os <li> em linha */
  gap: 1rem;                /* espaço entre os itens */
  margin: 0;
  padding: 0;
}

/* blocos trail */
.trail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60px;
  text-decoration: none;
  color: #fff;
  background: #525355;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}
a[href].trail:hover {
  background: #2ca159; /* verde */
  transform: translateY(-3px);
}

/* se for link sem href ou qualquer outro .trail */
.trail:hover:not(a[href]) {
  background: #a12c2c; /* vermelho */
  transform: translateY(-3px);
}
