*{
    margin:0 auto;
    padding:0;
    font-family: 'Segoe UI';
    font-weight: 500;
}

.trail{
    margin:0 auto;
    padding:0;
    max-width:18vw;
    height:4vw;
    max-height:20vw;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 1px 15px 1px black;
        display: flex;
    align-items: center;
    

}
p{
    margin-left: 0;
    padding:0 auto;
}

.trail a img{
    margin-left: 0;
    padding:0;
    flex-direction: row;
    justify-content: flex-start;
    image-rendering: pixelated;
    width: 4vw;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}