*{
    margin:0 auto;
    padding:0 ;
    font-family: 'Segoe UI';
    
    
}

body{
    margin:0 auto;
    padding:0;
    background-color: rgba(255, 255, 255, 0.418);
}
.help{
    max-width: 10vw;
    position: absolute;
top: 3vh ;
left: 10vw}
#helpmsg{
    position: absolute;
    top: 3vh;
    left: 19vw;
  font-size: clamp(0.6rem, 1vw, 2rem);;
}
h1{
    font-size: clamp(1.2rem, 1vw, 4rem);
}
form{
    margin: 20px auto ;
    padding:5% 10%;

    background-color: rgb(255, 255, 255);
    min-height: 30vh;
    max-height: 100vh;
    width: clamp(30vw, 60%, 50vw);
    box-shadow: 10px 10px 30px rgb(158, 157, 157);
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
input[type="radio"] {
 accent-color: rgb(140, 164, 140);
 height:3vh;
 width:3vw;
}

